
li{
    display: inline;
}

ul{
    list-style: none;
    overflow: hidden;
}

li .login a{
    text-decoration: none;
    color: rgb(2, 2, 2);
}

li .register a{
    text-decoration: none;
    color: white;
}



#top-nav{
    padding-left: 0%;
}

#checkbox {
    display: none;

  }
  
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

#menuToggle{
    float: left;
    position: relative;
    left: -20px;
}

  /* .toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: block;
    height: calc(9px * 3 + 11px * 2);
  } */
  
  /* .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: calc(4px / 2);
    background: #2b4cc3;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
  }
  
  .bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s) * .6;
  }
  
  .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity,transform;
    transition-delay: calc(0s + 0.35s * .3);
  }
  
  .bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
  }
  
  #checkbox:checked + .toggle .bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px/ 2);
  }
  
  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * .3);
  }
  
  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * .6);
  } */

.nav_icon {
	width: 50px;
	height: 50px;
	position: relative;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.nav_icon.active_nav {
	opacity: 1;
}
.nav_icon i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.9rem;
	color: rgba(33, 80, 182, 0.869);
	cursor: pointer;
}
.side_navigation {
  z-index: 1;
	width: auto;
	height: auto;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  margin-top: 10px;
	opacity: 0;
	border-radius: 16px;
	position: fixed;
	transform: opacity 150ms ease-in;
  border: 1px solid rgba(148, 35, 170, 0.949);
}
.side_navigation i {
	color: #000000;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.side_navigation li {
	/* background-color: #1f1e1e; */
	/* background-color: #1b1a1a; */
	width: 65px;
	height: 28px;
	padding: 6px 10px 6px 10px;
	font-size: 0.8rem;
	
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	cursor: pointer;
}
.side_navigation li:hover {
	background-color: #1e44edd1;
	color: #ffffff;
}

.side_navigation a:hover {
  color: white;
}
.side_navigation i:hover {
  color: white;
}

.side_navigation a {
	color: #040404;
	font-size: 0.8rem;
	list-style: none;
	letter-spacing: 0.1rem;
	text-transform: none;
	text-decoration: none;
	padding: 0px 5px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}p{ 
  
  position: relative;
    left: -10px;
    float: left;
    font-family: cursive;
    font-size: larger;
}

.register{
  padding: 10px;
    position: relative;
    top: 10px;
    right: 1px;
    background-color:#3257dd;
    width: 70px;
    border: 2px so3id white;
    float: right;
    border-radius: 20px;
    font-family: fantasy;
}

.register:hover{
    background-color: rgb(4, 4, 247);
}

.login{
  padding: 10px;
  float: right;
    top: 10px;
    background-color: rgba(219, 215, 215, 0.57);
    width: 50px;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 20px;
    font-family: fantasy;
}

.login:hover{
    background-color: rgba(181, 181, 184, 0);
}

.search {
    position: relative;
    padding: auto;
   margin: auto;
    width: 80%;
    left: 10px;
    margin-top: 40px;
  }
  
  .search input[type="text"] {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search button[type="submit"] {
    background-color: #375de7;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: blue;
  }
  

  .options{
    background-color: rgba(222, 53, 169, 0.05);
    justify-content: center;
    position: relative;
    top: 10px;
    width: 100%;  
    
    
  }

  .ful{
    display: flex;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid rgba(17, 0, 255, 0.194);
    border-top: 1px solid rgba(51, 0, 255, 0.187);
  }

li a{
  text-decoration: none;
  color: black;
}

button{
  position: relative;
  background-color: rgb(255, 255, 255);  
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1px solid rgba(9, 8, 8, 0.384);
  border-radius: 14px;
}

.img{
 height: 30px;
}

button.opt{
  margin-top: 10px;
  align-self: center;
  width: 70px;
  margin-right: 12px;
  box-shadow: 0 7px 6px 0 rgba(0,0,0,0.24), 0 7px 30px 0 rgba(0,0,0,0.19);
}

.opt:hover{
  box-shadow: none;
}


.btntext{
  font-family: fantasy;
}

/* .midprompt{
  border: 2px solid rgb(153, 152, 152);
  padding: 10%;
  position: relative;
  top: 20px;
  background-image: linear-gradient(to right, rgba(40, 40, 244, 0.83), white, rgba(23, 71, 246, 0.883) );
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.scores{
  border: 2px solid black;
  position: relative;
  top: 30px;
  padding: 10%;
}

.notification {
  top: 15px;
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 100%;
  height: 5rem;
  background: #305ff8;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #4242ddd0;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #d8d8e3;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

.btn{
  position: relative;
  margin-top: 30px;
}
.btn1{
  width: 49%;
  border-radius: 0%;
  height: 30px;
  padding: auto;
  border-style: hidden;
  border-bottom: 3px solid rgb(32, 43, 254);
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-family: fantasy;
  transition: border-bottom 1s, box-shadow 1s;
}
 
.btn1:hover{
  border-bottom: 4px solid rgba(244, 34, 244, 0.866);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.leagues{
  position: relative;
  padding: 0;
  margin: 0;
  top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.261);
  display: inline-block;
  width: 100%;
  height: 75px;
  align-items: center;
  background-image: linear-gradient( to left,rgba(0, 0, 255, 0.126), rgba(225, 0, 255, 0.079));
  
}


.league{
  margin-top: 15px;
  padding: auto;
  border: 1px solid rgba(146, 142, 142, 0.384);
  border-radius: 19px;
  width: 18%;
  box-shadow: 0 7px 6px 0 rgba(0,0,0,0.24), 0 7px 30px 0 rgba(0,0,0,0.19);

}

.league:hover{
  box-shadow: none;
}

#active{
  box-shadow: none;
}

.icon{
  height: 30px;
}


.laliga{
  height: 20px;
  padding: 5px;
}

.ll{
  width: 23%;
}

.matches{
  border-top: 1px solid rgb(47, 42, 183);
  position: relative;
  border-bottom: 1px solid #4d4a4ca9;
  padding: 40px;
  margin-bottom: 5px;
  background-color: white;
}

.mcontainer{
  border-top: 1px solid rgb(32, 57, 253);
  border-bottom: 1px solid black;
  position: relative;
  top: 30px;
  
  background-color: #1303f83a;
}

